.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:lightslategray;
}

#add-train-btn {
    margin-top: 10px;
}

.footerText {
    margin: 0 auto;
}

#trainForm {
    margin-bottom: 150px;
}
